<mat-list class="list-group" *ngIf="flagList">
  <div *ngFor="let modelCar  of allModelCars">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>vehicleType : {{modelCar.vehicleType}}</mat-card-title>
        <mat-card-subtitle>daily12High : {{modelCar.daily12High}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://foto.cheb.ru/foto/foto.cheb.ru-105567.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>month30PlusLow : {{modelCar.month30PlusLow}}</p>
        <hr>
        <p>month30PlusHigh : {{modelCar.month30PlusHigh}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button matStepperNext color="warn" (click)="selectModel(modelCar.vehicleType)">Book</button>
        <label>Base Price</label>
        <p>{{functionGetPrice(modelCar)}}</p>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-list>
