.mhs{
  background-color: aqua;
  /*height: 90%;*/
  overflow-y: auto
}
.ms{
  background-color: yellow;

 overflow-y: auto;
}
.example-container{
  overflow-y: auto;
}
.lotos{
  display: inline-block;
  width: 30%;

}

.list-group{
  height: 90vh;
  overflow-y: auto;
}
