<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Checkbox configuration</h2>
    <p>priceStart: {{startPrice|currency:'USD'}}</p>
    <h1>Protection Information</h1>
    <section class="example-section">
      <div class="example-margin">
        <mat-checkbox [(ngModel)]="check1" readonly>CDW / LDW</mat-checkbox>
      </div>
      <div class="example-margin">
        <mat-checkbox [(ngModel)]="check2" readonly>TP</mat-checkbox>
      </div>
      <div class="example-margin">
        <mat-checkbox [(ngModel)]="check3" readonly>Liability (3PLC)</mat-checkbox>
      </div>
      <div class="example-margin">
        <mat-checkbox [(ngModel)]="check4">Super CDW‎</mat-checkbox>
      </div>
      <div class="example-margin">
        <mat-checkbox [(ngModel)]="check5">Super TP‎</mat-checkbox>
      </div>
    </section>
      <h1>Extras</h1>
      <section class="example-section">
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check6">CBS Child Booster Seat (8 years and above)‎</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check7">CSI Child Seat for Infant (0-12 months)</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check8">ROADSAFE Assistance</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check9">Smartphone – Navigation System GPS‎‎</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check10">Baby/Child Seat‎</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check11">Additional Driver‎‎</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check12">Underage Driver‎</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check13">Airport Fee‎</mat-checkbox>
        </div>
        <div class="example-margin">
          <mat-checkbox [(ngModel)]="check14">VIP SERVICE (Quick and convenient return of vehicle at Ben-Gurion Airport). ‎</mat-checkbox>
        </div>
    </section>
  </mat-card-content>
</mat-card>
